In [1]:
import pandas as pd

In [2]:
from prettytable import PrettyTable

# Create a list to store messages for the log file
log_messages = []

# Log and print messages
def log(message):
    log_messages.append(message)

# Print detailed information of selected rows with pretty format
def get_info(rows):
    table = PrettyTable()
    table.field_names = ["Index"] + rows.columns.tolist()
    for index, row in rows.iterrows():
        table.add_row([index+2] + row.tolist())
    
    return table

In [3]:
file_path = "../data/2023-08-01-2023-08-31_Tumbleweed Monthly.csv"

In [5]:
lines = []

# Read only the first 10 lines into the 'lines' list
with open(file_path, "r") as f:
    for _ in range(10):
        line = f.readline()
        if not line:
            break
        lines.append(line)

# The first line where the word "timpestamps" (in any case) appears is the header line
header_index = next(
    (i for i, line in enumerate(lines) if "timestamp" in line.lower()), None
)

if header_index is None:
    error_message = "Header not found in the file."
    log(error_message)
    raise ValueError("Header not found in the file.")

# The index of the found header is exactly the number of rows to skip when reading the data
df = pd.read_csv(file_path, skiprows=header_index, header=0)
df

,Timestamp,POA Sensor,Weather station ambient temperature,Max wind speed - Weather Station 1 (Standard)(POA),Production meter L-N voltage,Production meter active power,"Sungrow 60kw Inverter - 1.1, Line kW","Sungrow 60kw Inverter - 1.2, Line kW","Sungrow 60kw Inverter - 1.3, Line kW","Sungrow 60kw Inverter - 1.4, Line kW",...,"Sungrow 60kw Inverter - 11.6, Line kW","Sungrow 60kw Inverter - 11.7, Line kW","Sungrow 60kw Inverter - 11.8, Line kW","Sungrow 60kw Inverter - 11.9, Line kW","Sungrow 60kw Inverter - 11.10, Line kW","Sungrow 60kw Inverter - 11.11, Line kW","Sungrow 60kw Inverter - 11.12, Line kW","Sungrow 60kw Inverter - 11.13, Line kW","Sungrow 60kw Inverter - 11.14, Line kW","Sungrow 60kw Inverter - 11.15, Line kW"
0,8/1/23 00:00,0.0,63.36313,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/1/23 00:15,0.0,61.01357,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/1/23 00:30,0.0,59.10123,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/1/23 00:45,0.0,60.05817,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/1/23 01:00,0.0,58.15518,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,8/31/23 22:45,0.0,55.50051,0,7.329794,-13.59511,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2972,8/31/23 23:00,0.0,55.77038,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,8/31/23 23:15,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,8/31/23 23:30,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,8/31/23 23:45,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
def column_temperature(df):
    ambient= [col for col in df.columns if 'ambient' in col.lower() and 'temperature' in col.lower()]
    if ambient:
        df.rename(columns={ambient[0]: 'Temperature'}, inplace=True)
    else:
        temperature = [col for col in df.columns if 'temperature' in col.lower()]
        if temperature:
            df.rename(columns={temperature[0]: 'Temperature'}, inplace=True)
        else:
            df['Ambient Temperature'] = -999
    return df

df = column_temperature(df)
df

,Timestamp,POA Sensor,Temperature,Max wind speed - Weather Station 1 (Standard)(POA),Production meter L-N voltage,Production meter active power,"Sungrow 60kw Inverter - 1.1, Line kW","Sungrow 60kw Inverter - 1.2, Line kW","Sungrow 60kw Inverter - 1.3, Line kW","Sungrow 60kw Inverter - 1.4, Line kW",...,"Sungrow 60kw Inverter - 11.6, Line kW","Sungrow 60kw Inverter - 11.7, Line kW","Sungrow 60kw Inverter - 11.8, Line kW","Sungrow 60kw Inverter - 11.9, Line kW","Sungrow 60kw Inverter - 11.10, Line kW","Sungrow 60kw Inverter - 11.11, Line kW","Sungrow 60kw Inverter - 11.12, Line kW","Sungrow 60kw Inverter - 11.13, Line kW","Sungrow 60kw Inverter - 11.14, Line kW","Sungrow 60kw Inverter - 11.15, Line kW"
0,8/1/23 00:00,0.0,63.36313,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/1/23 00:15,0.0,61.01357,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/1/23 00:30,0.0,59.10123,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/1/23 00:45,0.0,60.05817,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/1/23 01:00,0.0,58.15518,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,8/31/23 22:45,0.0,55.50051,0,7.329794,-13.59511,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2972,8/31/23 23:00,0.0,55.77038,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,8/31/23 23:15,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,8/31/23 23:30,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,8/31/23 23:45,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def column_wind(df):
    wind = [col for col in df.columns if 'wind' in col.lower() or 'speed' in col.lower()]
    if wind:
        df.rename(columns={wind[0]: 'Wind Speed'}, inplace=True)
    else:
        df['Wind Speed'] = -999
    return df

df = column_wind(df)
df

,Timestamp,POA Sensor,Temperature,Wind Speed,Production meter L-N voltage,Production meter active power,"Sungrow 60kw Inverter - 1.1, Line kW","Sungrow 60kw Inverter - 1.2, Line kW","Sungrow 60kw Inverter - 1.3, Line kW","Sungrow 60kw Inverter - 1.4, Line kW",...,"Sungrow 60kw Inverter - 11.6, Line kW","Sungrow 60kw Inverter - 11.7, Line kW","Sungrow 60kw Inverter - 11.8, Line kW","Sungrow 60kw Inverter - 11.9, Line kW","Sungrow 60kw Inverter - 11.10, Line kW","Sungrow 60kw Inverter - 11.11, Line kW","Sungrow 60kw Inverter - 11.12, Line kW","Sungrow 60kw Inverter - 11.13, Line kW","Sungrow 60kw Inverter - 11.14, Line kW","Sungrow 60kw Inverter - 11.15, Line kW"
0,8/1/23 00:00,0.0,63.36313,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/1/23 00:15,0.0,61.01357,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/1/23 00:30,0.0,59.10123,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/1/23 00:45,0.0,60.05817,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/1/23 01:00,0.0,58.15518,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,8/31/23 22:45,0.0,55.50051,0,7.329794,-13.59511,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2972,8/31/23 23:00,0.0,55.77038,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,8/31/23 23:15,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,8/31/23 23:30,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,8/31/23 23:45,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
def column_voltage(df):
    voltage = [col for col in df.columns if 'voltage' in col.lower()]
    if len(voltage) > 1:
        less_missing = min(voltage, key= lambda col: df[col].isna().sum)
        df.rename(columns={less_missing: 'Meter Voltage'}, inplace=True)
    elif voltage:
        df.rename(columns={voltage[0]: 'Meter Voltage'}, inplace=True)
    else:
        df['Meter Voltage'] = -999
    
    return df

df = column_voltage(df)
df

,Timestamp,POA Sensor,Temperature,Wind Speed,Meter Voltage,Production meter active power,"Sungrow 60kw Inverter - 1.1, Line kW","Sungrow 60kw Inverter - 1.2, Line kW","Sungrow 60kw Inverter - 1.3, Line kW","Sungrow 60kw Inverter - 1.4, Line kW",...,"Sungrow 60kw Inverter - 11.6, Line kW","Sungrow 60kw Inverter - 11.7, Line kW","Sungrow 60kw Inverter - 11.8, Line kW","Sungrow 60kw Inverter - 11.9, Line kW","Sungrow 60kw Inverter - 11.10, Line kW","Sungrow 60kw Inverter - 11.11, Line kW","Sungrow 60kw Inverter - 11.12, Line kW","Sungrow 60kw Inverter - 11.13, Line kW","Sungrow 60kw Inverter - 11.14, Line kW","Sungrow 60kw Inverter - 11.15, Line kW"
0,8/1/23 00:00,0.0,63.36313,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/1/23 00:15,0.0,61.01357,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/1/23 00:30,0.0,59.10123,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/1/23 00:45,0.0,60.05817,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/1/23 01:00,0.0,58.15518,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,8/31/23 22:45,0.0,55.50051,0,7.329794,-13.59511,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2972,8/31/23 23:00,0.0,55.77038,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,8/31/23 23:15,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,8/31/23 23:30,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,8/31/23 23:45,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
def column_others(df):
    keyword_mapping = {
        "Timestamp": ["timestamp"],
        "POA Irradiance": ["poa"],
        "Meter Power": ["meter", "power"],
    }

    rename_mapping = {}
    for new_name, keywords in keyword_mapping.items():
        for col in df.columns:
            if all(keyword.lower() in col.lower() for keyword in keywords):
                rename_mapping[col] = new_name
                break

    # Rename columns excluding inverters according to the rename_mapping dictionary
    df.rename(columns=rename_mapping, inplace=True)
    
    return df

df = column_others(df)
df

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Voltage,Meter Power,"Sungrow 60kw Inverter - 1.1, Line kW","Sungrow 60kw Inverter - 1.2, Line kW","Sungrow 60kw Inverter - 1.3, Line kW","Sungrow 60kw Inverter - 1.4, Line kW",...,"Sungrow 60kw Inverter - 11.6, Line kW","Sungrow 60kw Inverter - 11.7, Line kW","Sungrow 60kw Inverter - 11.8, Line kW","Sungrow 60kw Inverter - 11.9, Line kW","Sungrow 60kw Inverter - 11.10, Line kW","Sungrow 60kw Inverter - 11.11, Line kW","Sungrow 60kw Inverter - 11.12, Line kW","Sungrow 60kw Inverter - 11.13, Line kW","Sungrow 60kw Inverter - 11.14, Line kW","Sungrow 60kw Inverter - 11.15, Line kW"
0,8/1/23 00:00,0.0,63.36313,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/1/23 00:15,0.0,61.01357,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/1/23 00:30,0.0,59.10123,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/1/23 00:45,0.0,60.05817,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/1/23 01:00,0.0,58.15518,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,8/31/23 22:45,0.0,55.50051,0,7.329794,-13.59511,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2972,8/31/23 23:00,0.0,55.77038,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,8/31/23 23:15,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,8/31/23 23:30,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,8/31/23 23:45,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
def column_inverter(df):
    known_columns = [
        "Timestamp",
        "POA Irradiance",
        "Temperature",
        "Wind Speed",
        "Meter Power",
        "Meter Voltage",
    ]
    inverter_index = 1
    for col in df.columns:
        if col not in known_columns:
            df.rename(columns={col: "Inverter_" + str(inverter_index)}, inplace=True)
            inverter_index += 1

    return df

df = column_inverter(df)
df

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Voltage,Meter Power,Inverter_1,Inverter_2,Inverter_3,Inverter_4,...,Inverter_156,Inverter_157,Inverter_158,Inverter_159,Inverter_160,Inverter_161,Inverter_162,Inverter_163,Inverter_164,Inverter_165
0,8/1/23 00:00,0.0,63.36313,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/1/23 00:15,0.0,61.01357,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/1/23 00:30,0.0,59.10123,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/1/23 00:45,0.0,60.05817,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/1/23 01:00,0.0,58.15518,0,0.000000,0.00000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,8/31/23 22:45,0.0,55.50051,0,7.329794,-13.59511,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2972,8/31/23 23:00,0.0,55.77038,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,8/31/23 23:15,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,8/31/23 23:30,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,8/31/23 23:45,-999.0,0.00000,0,7.348179,-13.70044,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
def column_reorder(df):
    inverter_columns = sorted(col for col in df.columns if "Inverter" in col)
    columns_order = [
        "Timestamp",
        "POA Irradiance",
        "Temperature",
        "Wind Speed",
        "Meter Power",
        "Meter Voltage",
    ] + inverter_columns
    df = df[columns_order]

    return df 

df = column_reorder(df)
df

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_10,Inverter_100,Inverter_101,...,Inverter_90,Inverter_91,Inverter_92,Inverter_93,Inverter_94,Inverter_95,Inverter_96,Inverter_97,Inverter_98,Inverter_99
0,8/1/23 00:00,0.0,63.36313,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8/1/23 00:15,0.0,61.01357,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8/1/23 00:30,0.0,59.10123,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8/1/23 00:45,0.0,60.05817,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8/1/23 01:00,0.0,58.15518,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,8/31/23 22:45,0.0,55.50051,0,-13.59511,7.329794,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2972,8/31/23 23:00,0.0,55.77038,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,8/31/23 23:15,-999.0,0.00000,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,8/31/23 23:30,-999.0,0.00000,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,8/31/23 23:45,-999.0,0.00000,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Convert the datetime string to a datetime object
def custom_to_datetime(df):
 
    formats = [
        "%m/%d/%Y %I:%M:%S %p",  # MM/DD/YYYY HH:MM:SS AM/PM
        "%m/%d/%Y %H:%M:%S",  # MM/DD/YYYY 24-hour
        "%Y-%m-%d %H:%M:%S",  # YYYY-MM-DD 24-hour
        "%d/%m/%Y %H:%M:%S",  # DD/MM/YYYY 24-hour
        "%m/%d/%y %H:%M:%S",
        "%m/%d/%y %H:%M",
        "%m-%d-%Y %H:%M:%S",
        "%m-%d-%y %H:%M:%S",
        "%m-%d-%Y %H:%M",
        "%m-%d-%y %H:%M"
        # Feel free to add more formats as needed
    ]
    for fmt in formats:
        try:
            df['Timestamp'] = pd.to_datetime(df['Timestamp'], format=fmt)
            return df  # return DataFrame if the format matches
        except ValueError:  # if the format doesn't match, continue to the next format
            continue
    raise ValueError(f"No suitable format found for the 'Timestamp' column.")  # raise error if no suitable format is found
    

df = custom_to_datetime(df)
df

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_10,Inverter_100,Inverter_101,...,Inverter_90,Inverter_91,Inverter_92,Inverter_93,Inverter_94,Inverter_95,Inverter_96,Inverter_97,Inverter_98,Inverter_99
0,2023-08-01 00:00:00,0.0,63.36313,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-08-01 00:15:00,0.0,61.01357,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-08-01 00:30:00,0.0,59.10123,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-08-01 00:45:00,0.0,60.05817,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-08-01 01:00:00,0.0,58.15518,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,2023-08-31 22:45:00,0.0,55.50051,0,-13.59511,7.329794,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2972,2023-08-31 23:00:00,0.0,55.77038,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,2023-08-31 23:15:00,-999.0,0.00000,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,2023-08-31 23:30:00,-999.0,0.00000,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2975,2023-08-31 23:45:00,-999.0,0.00000,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
from suntime import Sun

def site_name(file_name):
    site_name = file_name.split('_')[-1].replace(" Monthly.csv", "")
    return site_name

file_path = "./data/2023-08-01-2023-08-31_Agate Bay Monthly.csv"
site_name = site_name(file_path)
print(site_name)

Agate Bay

In [23]:
def getGeocoding(site_name):
    df = pd.read_csv("../data/geoCoding.csv")
    row = df.loc[df["Site Name"] == site_name]
    if row.empty:
        return None, None
    return row.iloc[0]["Latitude"], row.iloc[0]["Longitude"]

lat, lng = getGeocoding(site_name)
print(f"latitude: {lat}, longitude: {lng}")

latitude: 42.5225614, longitude: -122.8367639

In [25]:

# Determine wheter the missing value is from daytime or nighttime.
def determine_day_night(row):
    lat, lng = getGeocoding(site_name)
    if lat is None or lng is None:
        return "Unknown"
    sun = Sun(lat, lng)
    date = row["Timestamp"].date()
    sr = sun.get_local_sunrise_time(date).time()
    ss = sun.get_local_sunset_time(date).time()
    time = row["Timestamp"].time()
    if sr <= time <= ss:
        return "Day"
    else:
        return "Night"

In [26]:
df["Day/Night"] = df.apply(lambda row: determine_day_night(row), axis=1)
df

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_10,Inverter_100,Inverter_101,...,Inverter_91,Inverter_92,Inverter_93,Inverter_94,Inverter_95,Inverter_96,Inverter_97,Inverter_98,Inverter_99,Day/Night
0,2023-08-01 00:00:00,0.0,63.36313,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Night
1,2023-08-01 00:15:00,0.0,61.01357,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Night
2,2023-08-01 00:30:00,0.0,59.10123,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Night
3,2023-08-01 00:45:00,0.0,60.05817,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Night
4,2023-08-01 01:00:00,0.0,58.15518,0,0.00000,0.000000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,2023-08-31 22:45:00,0.0,55.50051,0,-13.59511,7.329794,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Day
2972,2023-08-31 23:00:00,0.0,55.77038,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Night
2973,2023-08-31 23:15:00,-999.0,0.00000,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Night
2974,2023-08-31 23:30:00,-999.0,0.00000,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Night
2975,2023-08-31 23:45:00,-999.0,0.00000,0,-13.70044,7.348179,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Night

In [36]:
df.iloc[373: 380]

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_10,Inverter_100,Inverter_101,...,Inverter_92,Inverter_93,Inverter_94,Inverter_95,Inverter_96,Inverter_97,Inverter_98,Inverter_99,Day/Night,Date
373,2023-08-04 21:15:00,0.0,67.98160,0,-13.51814,7.325770,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Day,2023-08-04
374,2023-08-04 21:30:00,0.0,67.65361,0,-13.47975,7.318750,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Day,2023-08-04
375,2023-08-04 21:45:00,0.0,67.46886,2,-13.39974,7.303783,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Day,2023-08-04
376,2023-08-04 22:00:00,0.0,66.63525,1,-13.28392,7.284673,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Day,2023-08-04
377,2023-08-04 22:15:00,0.0,64.91091,0,-13.20728,7.266048,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Day,2023-08-04
378,2023-08-04 22:30:00,0.0,62.59241,0,-13.34683,7.293948,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Day,2023-08-04
379,2023-08-04 22:45:00,0.0,60.69577,0,-13.44880,7.310098,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Day,2023-08-04

In [27]:
import pandas as pd
from prettytable import PrettyTable
from datetime import date

In [28]:
log_messages = []

def log(message):
    log_messages.append(message)

In [30]:
def format_workorders(workorders):
    table = PrettyTable()
    table.field_names = ["Index"] + workorders.columns.tolist()
    for index, row in workorders.iterrows():
        table.add_row([index] + row.tolist())
    return table

def fetch_work_order(work_order, missing_dates, site_name):
    work_order['Fault/Event Start'] = pd.to_datetime(work_order['Fault/Event Start'], format="%b %d, %Y %I:%M:%S %p")
    work_order['Date'] = work_order['Fault/Event Start'].dt.date
    fetched_records = work_order[(work_order['Date'].isin(missing_dates)) & (work_order['Site Name'].isin([site_name]))]
    if fetched_records.empty:
        log(f"No work orders found for site {site_name} on the missing dates.")
    else:
        formatted_table = format_workorders(fetched_records.drop('Date', axis = 1))
        log(f"Information from work order:\n{formatted_table}" )

    return fetched_records

In [32]:
work_order = pd.read_csv('../data/WorkOrder.csv',skiprows=0, header=0)
missing_dates= [date(2023, 8, 11), date(2023, 8, 19)]
site_name = 'Tumbleweed'
fetched_records = fetch_work_order(work_order, missing_dates,site_name)

fetched_records

,Site Name,WO#,Fault/Event Start,Fault End,Date When Marked Complete/Incomplete,Description,Date
262,Tumbleweed,27611,2023-08-19 13:00:00,NaN,NaN,Tumbleweed - INV 4.06 - Offline (Islanding),2023-08-19

In [33]:
off_records = fetched_records[fetched_records["Description"].str.contains("offline", case=False, na=False)]
off_records['Date'] = off_records['Fault/Event Start'].dt.date
off_dates = off_records["Date"].tolist()
off_dates

[datetime.date(2023, 8, 19)]

In [34]:
df["Date"] = df["Timestamp"].dt.date
mask = df['Date'].isin(off_dates)
columns_to_check = ["Meter Voltage"] + [col for col in df.columns if col.startswith("Inverter_")]
missing_index = df[mask & df[columns_to_check].isna().any(axis=1)].index
df.loc[mask, columns_to_check] = df.loc[mask, columns_to_check].fillna(0)
still_missing_index = df[df[columns_to_check].isna().any(axis=1)].index

In [35]:
df.loc[missing_index]

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_10,Inverter_100,Inverter_101,...,Inverter_92,Inverter_93,Inverter_94,Inverter_95,Inverter_96,Inverter_97,Inverter_98,Inverter_99,Day/Night,Date
1728,2023-08-19 00:00:00,0.0,53.83451,0,-13.46730,7.307115,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Night,2023-08-19
1729,2023-08-19 00:15:00,0.0,53.15462,0,-13.30371,7.284953,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Night,2023-08-19
1730,2023-08-19 00:30:00,0.0,52.73350,0,-13.38183,7.296949,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Night,2023-08-19
1731,2023-08-19 00:45:00,0.0,51.99919,0,-13.47667,7.309263,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Night,2023-08-19
1732,2023-08-19 01:00:00,0.0,51.88271,0,-13.56731,7.324206,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Night,2023-08-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1819,2023-08-19 22:45:00,0.0,64.70272,1,-13.61337,7.343657,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Day,2023-08-19
1820,2023-08-19 23:00:00,0.0,65.16784,0,-13.57284,7.335833,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Day,2023-08-19
1821,2023-08-19 23:15:00,0.0,62.89948,0,-13.39706,7.303290,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Night,2023-08-19
1822,2023-08-19 23:30:00,0.0,62.14883,1,-13.41554,7.308659,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Night,2023-08-19
1823,2023-08-19 23:45:00,0.0,61.75071,0,-13.45540,7.316552,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Night,2023-08-19

In [307]:
df.loc[still_missing_index]

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_2,Inverter_3,Inverter_4,Day/Night,Date
419,2023-08-05 08:45:00,844.0,70.13333,1.646667,303.3047,12.30265,NaN,NaN,NaN,NaN,Night,2023-08-05
420,2023-08-05 09:00:00,874.0,71.18333,1.870000,0.0000,12.29256,NaN,NaN,NaN,NaN,Night,2023-08-05
421,2023-08-05 09:15:00,885.0,74.39000,1.310000,0.0000,12.25445,NaN,NaN,NaN,NaN,Day,2023-08-05
422,2023-08-05 09:30:00,902.0,73.70667,2.436667,0.0000,12.23089,NaN,NaN,NaN,NaN,Day,2023-08-05
423,2023-08-05 09:45:00,910.0,74.34666,2.083333,0.0000,12.23989,NaN,NaN,NaN,NaN,Day,2023-08-05
...,...,...,...,...,...,...,...,...,...,...,...,...
1840,2023-08-20 04:00:00,1.0,63.57333,3.490000,0.0000,12.34611,NaN,NaN,NaN,NaN,Night,2023-08-20
1841,2023-08-20 04:15:00,1.0,63.31000,3.923333,0.0000,12.35400,NaN,NaN,NaN,NaN,Night,2023-08-20
1842,2023-08-20 04:30:00,1.0,62.49333,3.753333,0.0000,12.34867,NaN,NaN,NaN,NaN,Night,2023-08-20
1843,2023-08-20 04:45:00,2.0,62.62000,3.173333,0.0000,12.28778,NaN,NaN,NaN,NaN,Night,2023-08-20
1844,2023-08-20 05:00:00,2.0,61.93000,4.416667,0.0000,12.26311,NaN,NaN,NaN,NaN,Night,2023-08-20

In [312]:
if not still_missing_index.empty:
    still_missing = df.loc[still_missing_index].drop(columns="Date")[
            (df["POA Irradiance"] > 0)
            | ((df["POA Irradiance"].isna()) & (df["Day/Night"] == "Day"))
        ]

    print(
            f"The missing 'Inverter' and 'Meter Voltage' values in the following rows cannot be handled due to lack of information.\n"
            f"{get_info(still_missing)}"
        )
else:
    print(
        f"And No missing 'Inverter' and 'Meter Voltage' values detected for the whole dataset!"
    )

still_missing_index.empty
df.loc[still_missing_index].drop(columns = 'Date')

The missing 'Inverter' and 'Meter Voltage' values in the following rows cannot be handled due to lack of information.
+-------+---------------------+----------------+-------------+------------+-------------+---------------+------------+------------+------------+------------+-----------+
| Index |      Timestamp      | POA Irradiance | Temperature | Wind Speed | Meter Power | Meter Voltage | Inverter_1 | Inverter_2 | Inverter_3 | Inverter_4 | Day/Night |
+-------+---------------------+----------------+-------------+------------+-------------+---------------+------------+------------+------------+------------+-----------+
|  421  | 2023-08-05 08:45:00 |     844.0      |   70.13333  |  1.646667  |   303.3047  |    12.30265   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  422  | 2023-08-05 09:00:00 |     874.0      |   71.18333  |    1.87    |     0.0     |    12.29256   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  423  | 2023-08-05 09:15:00 |     885.0      |    74.39    |    1.31    |     0.0     |    12.25445   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  424  | 2023-08-05 09:30:00 |     902.0      |   73.70667  |  2.436667  |     0.0     |    12.23089   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  425  | 2023-08-05 09:45:00 |     910.0      |   74.34666  |  2.083333  |     0.0     |    12.23989   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  426  | 2023-08-05 10:00:00 |     890.0      |   75.82333  |  2.326667  |     0.0     |    12.25033   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  427  | 2023-08-05 10:15:00 |     871.0      |     76.5    |  2.556667  |     0.0     |    12.25889   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  428  | 2023-08-05 10:30:00 |     870.0      |     77.3    |  2.813333  |     0.0     |    12.25156   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  429  | 2023-08-05 10:45:00 |     843.0      |   77.73666  |  3.373333  |     0.0     |    12.27656   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  430  | 2023-08-05 11:00:00 |     827.0      |   78.54333  |  2.746667  |     0.0     |    12.24633   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  431  | 2023-08-05 11:15:00 |     818.0      |    79.83    |  2.576667  |     0.0     |    12.22389   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  432  | 2023-08-05 11:30:00 |     796.0      |   81.09666  |  3.143333  |     0.0     |    12.24611   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  433  | 2023-08-05 11:45:00 |     759.0      |   81.90334  |    3.99    |     0.0     |    12.22333   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  434  | 2023-08-05 12:00:00 |     729.0      |   82.33334  |    3.44    |     0.0     |    12.29544   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  435  | 2023-08-05 12:15:00 |     691.0      |   83.89333  |    3.48    |     0.0     |     12.301    |    nan     |    nan     |    nan     |    nan     |    Day    |
|  436  | 2023-08-05 12:30:00 |     648.0      |   84.74333  |  3.966667  |     0.0     |    12.26811   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  437  | 2023-08-05 12:45:00 |     603.0      |   85.27333  |  3.943333  |     0.0     |    12.24044   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  438  | 2023-08-05 13:00:00 |     554.0      |    85.88    |    4.26    |     0.0     |    12.29422   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  439  | 2023-08-05 13:15:00 |     500.0      |   86.89333  |  3.873333  |     0.0     |    12.31045   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  440  | 2023-08-05 13:30:00 |     443.0      |    87.75    |  4.733333  |     0.0     |    12.30067   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  441  | 2023-08-05 13:45:00 |     388.0      |    88.64    |    5.31    |     0.0     |    12.27011   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  442  | 2023-08-05 14:00:00 |     332.0      |   88.67333  |    4.86    |     0.0     |    12.24944   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  443  | 2023-08-05 14:15:00 |     283.0      |   89.12666  |    4.93    |     0.0     |    12.21544   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  444  | 2023-08-05 14:30:00 |     237.0      |   90.27666  |  5.296667  |     0.0     |    12.21767   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  445  | 2023-08-05 14:45:00 |     175.0      |   90.79333  |  5.333333  |     0.0     |    12.24633   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  446  | 2023-08-05 15:00:00 |     126.0      |   90.54667  |    3.98    |     0.0     |    12.23222   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  447  | 2023-08-05 15:15:00 |     135.0      |   89.55666  |  5.213333  |     0.0     |    12.22622   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  448  | 2023-08-05 15:30:00 |     128.0      |    90.65    |  6.896667  |     0.0     |    12.27678   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  449  | 2023-08-05 15:45:00 |     120.0      |   90.54333  |  5.846667  |     0.0     |    12.25589   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  450  | 2023-08-05 16:00:00 |     111.0      |   90.57667  |    7.88    |     0.0     |    12.24056   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  451  | 2023-08-05 16:15:00 |     106.0      |   90.30666  |  7.506667  |     0.0     |    12.21289   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  452  | 2023-08-05 16:30:00 |      98.0      |   90.16666  |    7.61    |     0.0     |    12.21111   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  453  | 2023-08-05 16:45:00 |      94.0      |    90.11    |    7.61    |     0.0     |    12.30467   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  454  | 2023-08-05 17:00:00 |      92.0      |   89.45667  |    8.88    |     0.0     |    12.34755   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  455  | 2023-08-05 17:15:00 |      89.0      |    89.39    |  7.826667  |     0.0     |    12.30089   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  456  | 2023-08-05 17:30:00 |      87.0      |    88.77    |  8.793333  |     0.0     |    12.30822   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  457  | 2023-08-05 17:45:00 |      84.0      |    88.31    |  9.166667  |     0.0     |    12.31356   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  458  | 2023-08-05 18:00:00 |      81.0      |   88.00333  |    8.15    |     0.0     |    12.26555   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  459  | 2023-08-05 18:15:00 |      77.0      |   87.64333  |    7.81    |     0.0     |     12.278    |    nan     |    nan     |    nan     |    nan     |    Day    |
|  460  | 2023-08-05 18:30:00 |      73.0      |    87.28    |  7.346667  |     0.0     |    12.25589   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  461  | 2023-08-05 18:45:00 |      67.0      |   86.74333  |  7.316667  |     0.0     |    12.26155   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  462  | 2023-08-05 19:00:00 |      60.0      |    86.15    |  8.773334  |     0.0     |    12.30211   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  463  | 2023-08-05 19:15:00 |      50.0      |   85.42667  |    8.46    |     0.0     |    12.32933   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  464  | 2023-08-05 19:30:00 |      39.0      |   84.75667  |  6.396667  |     0.0     |    12.25211   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  465  | 2023-08-05 19:45:00 |      27.0      |   83.98666  |  6.373333  |     0.0     |    12.25933   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  466  | 2023-08-05 20:00:00 |      14.0      |    83.27    |  6.886667  |     0.0     |    12.31044   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  467  | 2023-08-05 20:15:00 |      5.0       |   82.23333  |    6.05    |     0.0     |    12.35222   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  468  | 2023-08-05 20:30:00 |      2.0       |   81.60333  |  6.253334  |     0.0     |    12.31022   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  469  | 2023-08-05 20:45:00 |      1.0       |    80.83    |    5.45    |     0.0     |    12.24945   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  470  | 2023-08-05 21:00:00 |      1.0       |   80.22334  |  4.716667  |     0.0     |    12.27667   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  474  | 2023-08-05 22:00:00 |      1.0       |   78.44334  |  5.853333  |     0.0     |    12.30978   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  479  | 2023-08-05 23:15:00 |      1.0       |   74.58667  |  4.226666  |     0.0     |    12.35222   |    nan     |    nan     |    nan     |    nan     |    Day    |
|  486  | 2023-08-06 01:00:00 |      1.0       |    71.64    |  1.756667  |     0.0     |    12.36156   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  488  | 2023-08-06 01:30:00 |      1.0       |   66.03333  |  2.626667  |     0.0     |    12.29089   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  489  | 2023-08-06 01:45:00 |      1.0       |    63.88    |    3.28    |     0.0     |    12.30444   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  490  | 2023-08-06 02:00:00 |      1.0       |   62.34667  |  3.346667  |     0.0     |    12.31955   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  491  | 2023-08-06 02:15:00 |      1.0       |   63.43667  |    2.1     |     0.0     |    12.33844   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  492  | 2023-08-06 02:30:00 |      1.0       |   64.34333  |  2.136667  |     0.0     |    12.33933   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  493  | 2023-08-06 02:45:00 |      1.0       |   64.02666  |  1.053333  |     0.0     |    12.35344   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  494  | 2023-08-06 03:00:00 |      1.0       |   62.91333  |  1.796667  |     0.0     |    12.35211   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  495  | 2023-08-06 03:15:00 |      1.0       |   61.55333  |  1.236667  |     0.0     |    12.33356   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  496  | 2023-08-06 03:30:00 |      1.0       |   60.79667  |  2.316667  |     0.0     |    12.31656   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  497  | 2023-08-06 03:45:00 |      1.0       |    60.12    |  2.253333  |     0.0     |    12.32833   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  498  | 2023-08-06 04:00:00 |      1.0       |   59.89667  |    0.6     |     0.0     |    12.33855   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  499  | 2023-08-06 04:15:00 |      1.0       |   60.66667  |  2.973333  |     0.0     |    12.34278   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  500  | 2023-08-06 04:30:00 |      1.0       |   60.97333  |  4.666667  |     0.0     |    12.34467   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  501  | 2023-08-06 04:45:00 |      1.0       |   60.99333  |  4.703333  |     0.0     |    12.34556   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  502  | 2023-08-06 05:00:00 |      1.0       |   60.50333  |    3.67    |     0.0     |     12.331    |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1058 | 2023-08-12 00:00:00 |      1.0       |   68.49667  |    1.89    |     0.0     |    12.36478   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1059 | 2023-08-12 00:15:00 |      1.0       |   67.52666  |  2.613333  |     0.0     |    12.31778   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1060 | 2023-08-12 00:30:00 |      1.0       |   65.49667  |    1.95    |     0.0     |    12.34822   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1061 | 2023-08-12 00:45:00 |      1.0       |    65.18    |    2.15    |     0.0     |    12.33511   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1062 | 2023-08-12 01:00:00 |      1.0       |   62.97333  |    1.81    |     0.0     |    12.34133   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1063 | 2023-08-12 01:15:00 |      1.0       |   63.85667  |  1.286667  |     0.0     |    12.33411   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1064 | 2023-08-12 01:30:00 |      1.0       |    65.87    |  1.126667  |     0.0     |    12.34378   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1065 | 2023-08-12 01:45:00 |      1.0       |   65.99667  |  1.343333  |     0.0     |    12.33922   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1066 | 2023-08-12 02:00:00 |      1.0       |   62.40667  |  1.516667  |     0.0     |     12.351    |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1067 | 2023-08-12 02:15:00 |      1.0       |   62.13667  |  1.823333  |     0.0     |    12.32878   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1068 | 2023-08-12 02:30:00 |      1.0       |    61.64    |  2.173333  |     0.0     |    12.26934   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1069 | 2023-08-12 02:45:00 |      1.0       |   61.38667  |  2.553333  |     0.0     |    12.26878   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1070 | 2023-08-12 03:00:00 |      2.0       |   60.75667  |  3.523333  |     0.0     |    12.29655   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1071 | 2023-08-12 03:15:00 |      2.0       |   63.09667  |  3.493333  |     0.0     |    12.31411   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1072 | 2023-08-12 03:30:00 |      1.0       |     62.7    |  4.103333  |     0.0     |     12.301    |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1073 | 2023-08-12 03:45:00 |      1.0       |   61.09667  |  3.416667  |     0.0     |    12.29889   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1074 | 2023-08-12 04:00:00 |      2.0       |   61.61333  |  3.913333  |     0.0     |    12.32633   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1075 | 2023-08-12 04:15:00 |      1.0       |    60.23    |    3.28    |     0.0     |    12.34833   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1076 | 2023-08-12 04:30:00 |      1.0       |   59.73667  |  2.933333  |     0.0     |    12.33567   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1077 | 2023-08-12 04:45:00 |      1.0       |    58.88    |  4.226666  |     0.0     |    12.29656   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1078 | 2023-08-12 05:00:00 |      1.0       |   59.57333  |    4.32    |     0.0     |    12.29133   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1079 | 2023-08-12 05:15:00 |      1.0       |   58.98333  |  4.406667  |     0.0     |    12.28856   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1826 | 2023-08-20 00:00:00 |      1.0       |   70.31667  |    3.12    |     0.0     |    12.34967   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1827 | 2023-08-20 00:15:00 |      1.0       |   70.19666  |    4.64    |     0.0     |     12.314    |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1828 | 2023-08-20 00:30:00 |      1.0       |    69.98    |    4.09    |     0.0     |     12.295    |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1829 | 2023-08-20 00:45:00 |      1.0       |    69.08    |  4.356667  |     0.0     |    12.31611   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1830 | 2023-08-20 01:00:00 |      1.0       |     69.1    |    5.15    |     0.0     |    12.33878   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1831 | 2023-08-20 01:15:00 |      1.0       |   68.75667  |  3.966667  |     0.0     |     12.345    |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1832 | 2023-08-20 01:30:00 |      1.0       |   68.49333  |    3.12    |     0.0     |    12.35055   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1833 | 2023-08-20 01:45:00 |      1.0       |   68.03667  |  2.603333  |     0.0     |    12.37078   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1834 | 2023-08-20 02:00:00 |      1.0       |    67.26    |    3.23    |     0.0     |    12.33111   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1835 | 2023-08-20 02:15:00 |      1.0       |    66.53    |    3.93    |     0.0     |    12.30344   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1836 | 2023-08-20 02:30:00 |      1.0       |    65.78    |  3.573333  |     0.0     |    12.23589   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1837 | 2023-08-20 02:45:00 |      1.0       |   65.67667  |  3.433333  |     0.0     |    12.25089   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1838 | 2023-08-20 03:00:00 |      1.0       |    64.54    |    3.2     |     0.0     |    12.26567   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1839 | 2023-08-20 03:15:00 |      1.0       |   64.43333  |  3.606667  |     0.0     |     12.285    |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1840 | 2023-08-20 03:30:00 |      1.0       |   64.26334  |    4.17    |     0.0     |    12.28878   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1841 | 2023-08-20 03:45:00 |      1.0       |   63.87667  |  3.446667  |     0.0     |     12.302    |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1842 | 2023-08-20 04:00:00 |      1.0       |   63.57333  |    3.49    |     0.0     |    12.34611   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1843 | 2023-08-20 04:15:00 |      1.0       |    63.31    |  3.923333  |     0.0     |     12.354    |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1844 | 2023-08-20 04:30:00 |      1.0       |   62.49333  |  3.753333  |     0.0     |    12.34867   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1845 | 2023-08-20 04:45:00 |      2.0       |    62.62    |  3.173333  |     0.0     |    12.28778   |    nan     |    nan     |    nan     |    nan     |   Night   |
|  1846 | 2023-08-20 05:00:00 |      2.0       |    61.93    |  4.416667  |     0.0     |    12.26311   |    nan     |    nan     |    nan     |    nan     |   Night   |
+-------+---------------------+----------------+-------------+------------+-------------+---------------+------------+------------+------------+------------+-----------+

/var/folders/sd/b4881p2s3sng7vt1jfcyyvm80000gn/T/ipykernel_24254/704827320.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  still_missing = df.loc[still_missing_index].drop(columns="Date")[

,Timestamp,POA Irradiance,Temperature,Wind Speed,Meter Power,Meter Voltage,Inverter_1,Inverter_2,Inverter_3,Inverter_4,Day/Night
419,2023-08-05 08:45:00,844.0,70.13333,1.646667,303.3047,12.30265,NaN,NaN,NaN,NaN,Night
420,2023-08-05 09:00:00,874.0,71.18333,1.870000,0.0000,12.29256,NaN,NaN,NaN,NaN,Night
421,2023-08-05 09:15:00,885.0,74.39000,1.310000,0.0000,12.25445,NaN,NaN,NaN,NaN,Day
422,2023-08-05 09:30:00,902.0,73.70667,2.436667,0.0000,12.23089,NaN,NaN,NaN,NaN,Day
423,2023-08-05 09:45:00,910.0,74.34666,2.083333,0.0000,12.23989,NaN,NaN,NaN,NaN,Day
...,...,...,...,...,...,...,...,...,...,...,...
1840,2023-08-20 04:00:00,1.0,63.57333,3.490000,0.0000,12.34611,NaN,NaN,NaN,NaN,Night
1841,2023-08-20 04:15:00,1.0,63.31000,3.923333,0.0000,12.35400,NaN,NaN,NaN,NaN,Night
1842,2023-08-20 04:30:00,1.0,62.49333,3.753333,0.0000,12.34867,NaN,NaN,NaN,NaN,Night
1843,2023-08-20 04:45:00,2.0,62.62000,3.173333,0.0000,12.28778,NaN,NaN,NaN,NaN,Night
1844,2023-08-20 05:00:00,2.0,61.93000,4.416667,0.0000,12.26311,NaN,NaN,NaN,NaN,Night